<section class="py-5 bg-image-full"
    style="background-image: url('https://i.imgur.com/XFtaOqD.jpg'); background-repeat: no-repeat; background-size: cover;
    background-position-y: center;">
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
    <div style="height: 70vh;"></div>
</section>
<section class="py-5">
    <div class="container">
        <h1 style="text-align: center;">Sharedtrip</h1>
        <div>
            <p class="lead" style="font-size: 24px; font-style: italic;">"Because the greatest part of a road trip
                isn't arriving at your destination. It's all the wild stuff that happens along the way..."
            </p>
        </div>
    </div>
</section>